@use '../../styles/variables.scss';

.text-block {
  &__title {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-lg);
    margin: 0;
    width: 100%;
    padding: 0 0rem 0.3rem 1rem;
    border-bottom: 0.3rem solid var(--primary-dark);
    box-sizing: border-box;
  }

  p {
    margin-bottom: 0;
  }

  &__text {
    white-space: pre-line;

    code {
      font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
      font-size: var(--font-size-sm);
      padding: 0.15rem 0.3rem;
      border-radius: 0.3rem;
      background: var(--bg-dark);
    }
  }
}

.dark {
  .text-block {
    &__title {
      border-color: var(--primary-dark);
    }
  }

  code {
    border: 1px solid var(--highlight);
  }
}
