.u-surface {
  font-size: var(--font-size-base);
  padding: 0.8rem 1rem;
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 0.7rem;
  box-shadow: 0 2px 4px var(--shadow-muted);

  &:hover,
  &:focus-visible {
    box-shadow: 0 2px 8px var(--shadow);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    font-size: var(--font-size-lg);

    &--sm {
      font-size: var(--font-size-base);
    }
  }

  &__button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }

  &__content {
    margin: 1rem 1.5rem 0.5rem;
  }
}
