@use './variables';

// utilities
@use '../styles/utilities/surface';
@use '../styles/utilities/button';

// components
@use '../components/footer/footer';
@use '../components/header/header';
@use '../components/rules/rule/rule';
@use '../components/rules/rulesAccordion';
@use '../components/search/searchInput';
@use '../components/result/resultBox';

// pages
@use '../pages/home/home';

:root {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1rem;
}

body {
  background: var(--bg-dark);
  margin: 0;
  min-width: 320px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
