@use '../../styles/variables.scss';

.main-nav {
  margin: 1rem 1rem 0;
  background-color: var(--bg);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--bg-dark);
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--text);
    text-decoration: none;
  }

  &__image {
    height: 2rem;
    color: var(--logo-main);
  }

  &__text {
    font-size: var(--font-size-xl);
    font-weight: 600;

    &--accent {
      color: var(--text-muted);
    }
  }

  &__theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    &:hover {
      color: var(--secondary);
    }
  }
}

.dark {
  .main-nav {
    &__theme-toggle {
      color: var(--text-muted);
      &:hover {
        color: var(--secondary);
      }
    }
  }
}
